/*-- scss:defaults --*/

// Get fonts
@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Fraunces&family=Inconsolata&display=swap');

// set fonts
$font-family-sans-serif: Commissioner;
$font-family-monospace: Inconsolata;

$headings-font-family: "Commissioner" !default;
$headings-font-weight: 400 !default;

/*-- scss:rules --*/

.center-text {
  text-align: center;
}

main, p{
  font-size: 1.1rem !important;
}

.callout.callout-style-default .callout-body {
    font-size: 1.2rem;
    font-weight: 400;
}

h1, h2, h3 {
  font-family: Fraunces;
}
